# ðŸ“Š Data Cleaning Task â€“ Customer Personality Analysis Dataset

In [2]:
# ðŸ“˜ Step 1: Import Libraries
import pandas as pd

In [3]:
# ðŸ“˜ Step 2: Load the dataset (TSV file)
df = pd.read_csv("marketing_campaign.csv", sep="\t")

In [4]:
# ðŸ“˜ Step 3: Quick Look at Data
print("First 5 rows of the dataset:")
(df.head())

print("\nDataset Info:")
(df.info())

print("\nMissing Values per Column:")
df.isnull().sum()

First 5 rows of the dataset:

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

Missing Values per Column:

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [5]:
# ðŸ“˜ Step 4: Remove Duplicates (if any)
before_dedup = df.shape[0]
df = df.drop_duplicates()
after_dedup = df.shape[0]

print(f"âœ… Duplicates Removed: {before_dedup - after_dedup}")

âœ… Duplicates Removed: 0

In [6]:
# ðŸ“˜ Step 5: Handle Missing Values in 'Income'
median_income = df["Income"].median()
df["Income"].fillna(median_income, inplace=True)

print("âœ… Missing values in 'Income' column filled with median value.")

âœ… Missing values in 'Income' column filled with median value.

C:\Users\Aryan Zende\AppData\Local\Temp\ipykernel_8772\3604342879.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Income"].fillna(median_income, inplace=True)

In [7]:
# ðŸ“˜ Step 6: Rename Columns for Consistency
df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]
print("âœ… Renamed columns:")
print(df.columns)

âœ… Renamed columns:
Index(['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome',
       'teenhome', 'dt_customer', 'recency', 'mntwines', 'mntfruits',
       'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts',
       'mntgoldprods', 'numdealspurchases', 'numwebpurchases',
       'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth',
       'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5', 'acceptedcmp1',
       'acceptedcmp2', 'complain', 'z_costcontact', 'z_revenue', 'response'],
      dtype='object')

In [8]:
# ðŸ“˜ Step 7: Convert 'dt_customer' to datetime format
df["dt_customer"] = pd.to_datetime(df["dt_customer"], format="%d-%m-%Y")
print("âœ… 'dt_customer' converted to datetime format.")

âœ… 'dt_customer' converted to datetime format.

In [9]:
# ðŸ“˜ Step 8: Standardize Text Columns
df["education"] = df["education"].str.strip().str.lower()
df["marital_status"] = df["marital_status"].str.strip().str.lower()

print("âœ… Standardized 'education' and 'marital_status' values.")

âœ… Standardized 'education' and 'marital_status' values.

In [10]:
# ðŸ“˜ Step 9: Export Cleaned Data
df.to_csv("marketing_campaign_cleaned.csv", index=False)
print("âœ… Cleaned dataset saved as 'marketing_campaign_cleaned.csv'")

âœ… Cleaned dataset saved as 'marketing_campaign_cleaned.csv'

In [13]:
# ðŸ“˜ Step 11: Show cleaned data and structure
print("ðŸ§¹ First 5 Rows After Cleaning:")
# ðŸ“˜ Step 11: Show cleaned data and structure in DataFrame view
df.head()

ðŸ§¹ First 5 Rows After Cleaning:

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntwines,...,numwebvisitsmonth,acceptedcmp3,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response
0,5524,1957,graduation,single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,graduation,single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,graduation,together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,graduation,together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,phd,married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0